.aCountryCard{
  cursor: pointer;
  width: 200px;
  border-radius: 10px;
  border: 2px solid crimson;
  background-color: darksalmon;
}
.aCountryLink{
  text-decoration: none;
}
.myCardDiv{
  display: flex;
  align-items: center;
  height: 107px;
}
.myCardH{
  width: 100%;
}
.myCardImg{
  width: 160px;
  height: 100px;
}