.coContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 6px solid magenta;
  background-color: LightGreen;
};
.miDivSep{
  display: inline-block;
  position: absolute;
}
